<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuwa.robot.r2022.emotionalability">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.RealmDb"
        android:allowBackup="true"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmotionalAbility"
        tools:targetApi="31">

        <activity
            android:name=".view.SignAsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar"
            />
        <activity
            android:name=".view.ChangeLanguageActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.BeginningActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.MakeConnectionWithRobotActivity"
            android:exported="true" />
        <activity
            android:name=".view.GameActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.StartLevelActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.GameLevelActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.StartGameActivity"
            android:configChanges="locale"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.SignInActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar" />
        <activity
            android:name=".view.WelcomActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.EmotionalAbilityNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:configChanges="locale"
            android:exported="true"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>